[submodule "libs/RakNet"]
	path = libs/RakNet
	url = https://github.com/Krum-SSFM/RakNet.git
[submodule "libs/CppBinaryStream"]
	path = libs/CppBinaryStream
	url = https://github.com/vp817/CppBinaryStream.git
[submodule "libs/stduuid"]
	path = libs/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
